<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="stylesheet" href="../../public/style.css">
</head>
<body class="body__games">
    <nav>
        <div class="nav__left">
            <a href="home.html">
                <img class="logo" src="../../public/images/logo.svg" alt="LeHS">
            </a>
            <a href="#" class="btn-fill btn-games">
                Games 
            </a>
            <a href="statistics.html" class="btn-fill btn-statistics">
                    Statistics
            </a>
        </div>
        <div class="icons-right">
            <a class="btn-profile" href="profile.html">
                <img class="profile-button" src="../../public/images/profile.png" alt="">
            </a>
            <img class="insta-button" src="../../public/images/instagram.svg" alt="In">
        </div>
        <nav class="nav__appear">
            <img class="exit" src="../../public/images/menu.svg" alt="m">
            <div class="nav__items">
                <div class="all-elements">
                    <a href="#"> Home </a> 
                    <a href="allgames.html"> Games </a> 
                    <a href="statistics.html"> Statistics </a> 
                    <a class="btn-profile" href="profile.html">
                        <img class="profile-button" src="../../public/images/profile.png" alt="">
                    </a>
                    <img class="insta-button" src="../../public/images/instagram.svg" alt="In">
                    
                </div>
            
            </div>
         </nav>
        <img id="menuButton" src="../../public/images/menu.svg" alt="=">
    </nav>

    <div class="games-page pages">
        <h1> Games </h1>
        <section class="learn-html learn-section">
            <h2> HTML </h2>
            <!-- 3 images with progress on top with the categories -->
            <div class="games-categories categories-html">

            </div>
        </section>
        <section class="learn-css learn-section">
            <h2> CSS </h2>
            <div class="games-categories categories-css">

            </div>
        </section>
        
    </div>
    <script src="../controllers/games.js"></script>
    <script src="../controllers/side-menu.js"></script>

</body>
</html>