<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>HTCP - Scholarly HTML</title>
    <link rel="stylesheet" href="css/scholarly.min.css">
    <script src="js/scholarly.min.js"></script>
  </head>

  <body prefix="schema: http://schema.org">
    
    <header>
      <h1>HTCP - documentatie Scholarly HTML</h1>
    </header>
    
    <div role="contentinfo">
      <dl>
        <dt>Autori</dt>
        <dd typeof="sa:ContributorRole" property="schema:author">
          <span typeof="schema:Person">
            <meta property="schema:givenName" content="Madalina">
						<meta property="schema:familyName" content="Banica">
            <a href="https://github.com/ASDKJNASKDJAKSJAKJSDKASHDKJASHDKAJHKJHKDJAHSKDJASKDA">
              <span property="schema:name">Madalina Banica</span>
            </a>
          </span>
        </dd>
        <dd typeof="sa:ContributorRole" property="schema:author">
          <span typeof="schema:Person">
            <meta property="schema:givenName" content="Ionut">
						<meta property="schema:familyName" content="Puiu">
            <a href="https://github.com/ASDFGHJKJHGFDSASDFGHJKJHGFDSASDFGHJ">
              <span property="schema:name">Ionut Puiu</span>
            </a>
          </span>
        </dd>
        <dd typeof="sa:ContributorRole" property="schema:author">
          <span typeof="schema:Person">
            <meta property="schema:givenName" content="George Emanuel">
            <meta property="schema:familyName" content="Hurmuz">
            <a href="https://github.com/ASDFGHJKLKJHGFDSASDFGHJKJHGFDSASDFGHJKJHGFDS">
              <span property="schema:name">George Emanuel Hurmuz</span>
            </a>
          </span>
        </dd>
        <dt>Licență</dt>
        <dd>
          <a href="https://opensource.org/licenses/MIT">MIT</a>
        </dd>
      </dl>
    </div>
    
    <section typeof="sa:Abstract" id="abstract" role="doc-abstract">
      <h2>Cerință</h2>
      <p>
        Să se creeze o platformă Web ce ajută cu exersarea cunoștințelor de HTML și CSS. După autentificarea cu o rețea socială 
        la alegere (GitHub, Facebook, Twitter, etc), aplicația va pune la dispoziția utilizatorilor, printr-o interfață atractivă, 
        nivele cu diverse provocări, unde aceștia vor trebui să scrie cod pentru a trece mai departe.
      </p>
      <p>
        Aplicația va salva progresul fiecărui utilizator, acesta putând continua de unde a rămas, mai târziu. În plus, 
        aceasta va oferi statistici, referitoare la clasamentele globale cât și pentru fiecare utilizator în parte. 
        De asemenea, platforma va expune și un API REST/GraphQL prin care alte aplicații vor putea prelua în format 
        JSON sau XML atât provocarile, cât și răspunsurile corecte.
      </p>
    </section>
    
    <section id="introduction" role="doc-introduction">
      <h2>Introducere</h2>
      <p>
        Prioritar dezvoltarii platformei Web a fost atingerea scopului didactic pe care aceasta si-l propune. Pentru ca 
        experienta utilizatorilor sa fie intr-adevar una placuta, interfata urmareste o tematica inspirata din lumea
          <a href="https://www.lego.com/en-us">
            <span property="schema:name">Lego</span>
          </a>
        </span>,
        iar fiecare tip de nivel (<span typeof="ComputerLanguage"><span property="schema:name">HTML</span></span>
        sau <span typeof="ComputerLanguage"><span property="schema:name">CSS</span></span>) contine un scenariu Lego pe care utilizatorii
        trebuie sa il parcurga pentru a avansa atat in universul Lego, cat si in universul programarii.
        Nivelele din partea de HTML urmaresc .... pe cand cele din CSS ...
      </p>
    </section>
    
    <section id="architecture">
      <h2>Arhitectura aplicației</h2>
      <p>Din punct de vedere arhitectural, am recurs la MVC.</p>
    </section>
    
    <section id="interfata-cu-utilizatorul">
        <h2>Interfața cu utilizatorul</h2>
          <p>
            Platforma Web ofera o experienta placuta utilizatorului, abordand o tema inspirata din lumea Lego( vezi mai multe detalii in <a href="#introduction">Introducere</a>) ce are scopul de a starni interesul dar si creativitatea.

            Prima pagina a platformei Web este pagina de autentificare ce contine un buton prin intermediul caruia un utilizator isi poate accesa contul. Autentificarea se face utilizand conturi 
            <span typeof="organization" resource="https://github.com/"><meta property="schema:name" content="GitHub">GitHub</span> iar dupa autentificare, utilizatorii sunt redirectionati catre pagina principala, de unde poate naviga ulterior in pagina de jocuri, pagina contului si pagina de statistici.
          </p>
    </section>

    <section id="interfata-pagina-autentificare">
        <h4>Interfata paginii de autentificare</h4>

        <p>
          Pagina de autentificare intampina utilizatorii cu titlul platformei web (LEGO HTML & CSS), o scurta descriere ce incurajeaza utilizatorii sa foloseasca platforma si un buton de autentificare prin Github ce permite utilizatorilor sa isi acceseze conturile. 
        </p>

        <p>
          In urma autentificarii, daca aceasta are loc cu succes, utilizatorul este redirectionat catre pagina Home a platformei web.
        </p>
    </section>

    <section id="interfata-pagina-Home">
        <h4>Interfata paginii Home</h4>
        <p>
          Pagina Home este pagina ce reprezinta punctul de legatura al tuturor paginilor oferite de platforma.
          Pentru a ajunge in pagina Home, utilizatorii trebuie sa se autentifice cu succes in pagina de autentificare. O data autentificati, acestia pot accesa pagina Home apasand click pe logo-ul platformei web( aflat in antet).
          Pagina Home este construita astfel incat experienta de navigare sa fie una cat mai placuta, cuprizand diverse sectiuni ce au rolul de a ajuta utilizatorii. 
        </p>
    </section>

    <section id="interfata-pagina-games">
      <h4>Interfata paginii Games</h4>
      <p>Pagina Games este o pagina statica ce contine doua subpagini dedicate nivelelor din HTML cat si CSS. Aceasta pagina este creata astfel incat sa se plieze pe dimensiunile oricarui dispozitiv ce acceseaza platforma. Astfel, pozitionarea nivelelor se face fie vertical, fie orizontal. </p>
    </section>

    <section id="interfata-nivele">
      <h4>Interfata nivele</h4>
      <p>Pagina unui nivel, fie HTML, fie CSS, contine numarul nivelului, descrierea nivelului, un spatiu de completare si rezolvare al nivelului si o sectiune ce surprinde partea practica a nivelelor. In functie de rezolvarea utilizatorilor, acestia pot trece sau nu la nivele mai avansate. In cazul in care o rezolvare este corecta, platforma va puncta utilizatorul, va efectua modificarile din sectiunea practica-grafica, si va debloca urmatorul nivel.</p>
    </section>

    <section id="interfata-statistics">
        <h4>Interfata paginii Statistics</h4>
        <p>
          Pagina Statistics este pagina ce gazduieste clasamentul utilizatorilor. Clasamentul acesta se face in functie de punctele castigate in urma efecturarii nivelelelor de pe pagina Games. 
          Clasamentul este facut pentru fiecare sectiune:
        </p>
          <ul>
            <li>Clasamentul general;</li>
            <li>Clasamentul pentru sectiunea CSS;</li>
            <li>Clasamentul pentru sectiunea HTML;</li>
          </ul>
        <p>
          Pentru fiecare utilizator din clasament, se afiseaza locul, numele utilizatorului si punctajul acestuia.
        </p>
    </section>
    
    <section id="interfata-profil">
        <h4>Pagina de profil</h4>

        <p>Pagina de profil afiseaza diverse informatii despre utilizator si anume:</p>
        <ul>
          <li>imaginea de profil</li>
          <li>numele de utilizator, identic cu cel de pe GitHub;</li>
        </ul> 
    </section>

  </body>
</html>