<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../public/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav__left">
                <!-- put btn on img -->
                <a href="#">
                    <img class="logo" src="../../public/images/logo.svg" alt="LeHS">
                </a>
                <a href="allgames.php" class="btn-fill btn-games">
                    Games 
                </a>
                <a href="statistics.php" class="btn-fill btn-statistics">
                        Statistics
                </a>
            </div>
            <div class="icons-right">
                <a class="btn-profile" href="profile.php">
                    <img class="profile-button" src="../../public/images/profile.png" alt="">
                </a>
                <img class="insta-button" src="../../public/images/instagram.svg" alt="In">
            </div>
            <img id="menuButton" src="../../public/images/menu.svg" alt="=">
            <nav class="nav__appear">
                <img class="exit" src="../../public/images/menu.svg" alt="m">
                <div class="nav__items">
                    <div class="all-elements">
                        <a href="#"> Home </a> 
                        <a href="allgames.php"> Games </a> 
                        <a href="statistics.php"> Statistics </a> 
                        <a class="btn-profile" href="profile.php">
                            <img class="profile-button" src="../../public/images/profile.png" alt="">
                        </a>
                        <img class="insta-button" src="../../public/images/instagram.svg" alt="In">
                        
                    </div>
                
                </div>
             </nav>
        </nav>

        <div class="presentation">
            <p class="description-site">
                Come and join us into the beauty of Lego pieces and help
                 us color them, build castles and other amazing things during our adventure!
            </p>
        </div>
        
    </header>

    <div class="learn-presentation main-sections">
        <h1>
            Learn HTML and CSS like a PRO
        </h1>
        <div class="div__presentation div__learn-presentation">
            <div class="div__bullet">
                <img src="../../public/images/levels.svg" alt="Levels">
                <h4>Levels</h4>
                <p>
                    Lots of challenging levels to go for you to master HTML and CSS!
                </p>
            </div>
            <div class="div__bullet">
                <img src="../../public/images/statictics.svg" alt="Statistics">
                <h4>Statistics</h4>
                <p>
                    See the top players and try to beat them!
                </p>
            </div>
        </div>
    </div>
<!-- presentation -->
    <div class="games-presentation main-sections">
        <h1>
            Play our games! HTML and CSS only!
        </h1>
        <div class="div__presentation div__games-presentation">
            <a href="templateCategory.php?cat=hb&level=0">
                <img class="to-html to-page" src="../../public/images/htmlLevels.svg" alt="HTML">
            </a>
            <a href="templateCategory.php?cat=cb&level=0">
                <img class="to-css to-page" src="../../public/images/cssLevels.svg" alt="CSS">  
            </a>
        </div>
        
    </div>

    <!-- FAQ -->
    <div class="faq main-sections" id="faq">
        <h1> FAQ </h1>
        <div class="three-on-row div__presentation">
            <!-- 3 questions and their answers -->
            <section class="div__bullet q-a">
                <h4> Why would you use our site? </h4>
                <p> Because you will learn the basics and advanced 
                    notions about CSS and HTML in a relaxing, 
                    funny, and interactive way. </p>
            </section>
            <section class="div__bullet q-a">
                <h4> How are the points distributed? </h4>
                <p> Every level has 100 points and every time you submit 
                    a wrong answer you will get -10 points from the total left for that level. </p>
            </section>
            <section class="div__bullet q-a">
                <h4> Why did we chose the lego theme? </h4>
                <p> Because programming can be compared with playing lego. It is an entire universe of creativity. </p>
            </section>
        </div>
    </div>

    <!-- team -->

    <div class="meet-our-team main-sections">
        <h1> Meet our team </h1>
        <div class="three-on-row div__presentation">
            <section class="mada">
                <img src="../../public/images/mada.svg" alt="Mada">
                <h4> Madalina-Elena Banica </h4>
                <p> "The secret to creativity is knowing how to hide your sources" </p>
            </section>
            <section class="ioan">
                <img src="../../public/images/ioan.svg" alt="Ioan">
                <h4> Ioan Puiu </h4>
                <p> "Great people do things before they are ready.
                    Just do it!" </p>
            </section>
            <section class="emi">
                <img src="../../public/images/emi.svg" alt="Emi">
                <h4> George-Emanuel Hurmuz </h4>
                <p> "An enthusiastic heart finds opportunities everywhere." </p>
            </section>
        </div>
    </div>

    <!-- about us -->
    <div class="about-us main-sections" id="about">
        <h1> About us </h1>
        <p class="about__description"> 
            We are some young people from Computer Science 
            faculty from Iasi and this is our web project for 
            the 2nd year of faculty.
        </p>
        <p>Here is our documentation for this amazing project: 
            <!-- link catre html documentatie -->
            <a href="documentatie.html" style="color:blueviolet">Documentatie</a>
        </p>
    </div>

    <!-- contact us -->
    <div class="contact-us main-sections" id="contact">
        <h1> Contact us </h1>
        <div class="div__presentation">
            <p> Phone: +04 744 LEGO45 </p>
            <p> Email: lego_enthusiasts@gmail.com </p>
        </div>
    </div>
    <script src="../../public/assets/side-menu.js"></script>
</body>


</html>