<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Progress</title>
  <link rel="stylesheet" href="../../public/style.css">




  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Period', 'Minutes', { role: 'style'}],
        ['all time media', 2,'#b87333'],
        ['last week media', 4, 'pink'],
        ['this week media', 5, 'green'],
        ['day before yesterday', 7,'blue'],
        ['yesterday', 4 ,'blue'],
        ['today', 5, 'blue']
      ]);

      var options = {
        chart: {
          title: 'Time spent learning'
        }
      };

      var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

      chart.draw(data, google.charts.Bar.convertOptions(options));
    }
  </script>


  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Levels completed', 'Number of levels', {role: 'style'}],
        ['Compelted', 11, 'red'],
        ['Incompleted', 2, 'green']
      ]);

      var options = {
        title: 'Progress'
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      chart.draw(data, options);
    }
  </script>

  <style>
    .parent{
    display: flex;
    }
  </style>

</head>

<body>

<selection class="parent">
  <selection class="child">
    <div id="columnchart_material" style="width:800px; height: 500px; margin-left: 50px; margin-top: 100px;"></div>

  </selection>
  <selection class="child">
    <div id="piechart" style="width:800px; height: 700px;margin:50px"></div>

  </selection>
</selection>

</body>

</html>


